.adress-clone
	display none
	align-items center
	gap 10px

	&__icon
		width 25px
		height 25px

	&__adress
		font-weight 500
		font-size 14px
		line-height 1.1
		color #fff
		margin 0
		&:first-child
			margin-bottom 10px

@media (min-width: $mq.md)
	.adress-clone
		display flex

@media (min-width: $mq.xl)
	.adress-clone
		&__icon
			width 40px
			height 40px

		&__adress
			font-size 16px
