.timetable-of-classes-card-grid
	display grid
	gap 20px

@media (min-width: $mq.md)
	.timetable-of-classes-card-grid
		grid-template-columns 1fr 1fr

@media (min-width: $mq.xl)
	.timetable-of-classes-card-grid
		grid-template-columns 1fr 1fr 1fr
		gap 30px
