.timetable-of-classes
	padding-top 30px
	padding-bottom 30px

	&__title
		margin-bottom 40px

@media (min-width: $mq.md)
	.timetable-of-classes
		padding-top 40px
		padding-bottom 40px

		&__title
			margin-bottom 60px

@media (min-width: $mq.xl)
	.timetable-of-classes
		padding-top 75px
		padding-bottom 75px

		&__title
			margin-bottom 100px
