.section-title
	flex none

.title
	font-weight 700
	font-size 24px
	line-height 120%
	text-transform uppercase
	color #fff
	margin-top 0

@media (min-width: $mq.sm)
	.title
		font-size 36px

@media (min-width: $mq.lg)
	.title
		font-size 46px

@media (min-width: $mq.xl)
	.title
		font-size 72px
