<div block="timetable-of-classes-card">
	<div elem="top-content">
		<span elem="rate">1 день</span>
		<span elem="how-many-times">3 раза в неделю</span>
	</div>

	<div elem="middle-content">
		<p elem="text">
			Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.
		</p>
	</div>

	<div elem="bottom-content">
		<span elem="price">41 788 ₽</span>
		<span elem="old-price">41 788 ₽</span>
	</div>

	{% include 'sign-up-btn.html' %}
</div><!-- timetable-of-classes-card -->


<div block="timetable-of-classes-card">
	<div elem="top-content">
		<span elem="rate">1 месяц</span>
		<span elem="how-many-times">3 раза в неделю</span>
	</div>

	<div elem="middle-content">
		<p elem="text">
			Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.
		</p>
	</div>

	<div elem="bottom-content">
		<span elem="price">41 788 ₽</span>
		<span elem="old-price">41 788 ₽</span>
	</div>

	{% include 'sign-up-btn.html' %}
</div><!-- timetable-of-classes-card -->


<div block="timetable-of-classes-card">
	<div elem="top-content">
		<span elem="rate">2 месяца</span>
		<span elem="how-many-times">3 раза в неделю</span>
	</div>

	<div elem="middle-content">
		<p elem="text">
			Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.
		</p>
	</div>

	<div elem="bottom-content">
		<span elem="price">41 788 ₽</span>
		<span elem="old-price">41 788 ₽</span>
	</div>

	{% include 'sign-up-btn.html' %}
</div><!-- timetable-of-classes-card -->


<div block="timetable-of-classes-card">
	<div elem="top-content">
		<span elem="rate">4 месяца</span>
		<span elem="how-many-times">3 раза в неделю</span>
	</div>

	<div elem="middle-content">
		<p elem="text">
			Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.
		</p>
	</div>

	<div elem="bottom-content">
		<span elem="price">41 788 ₽</span>
		<span elem="old-price">41 788 ₽</span>
	</div>

	{% include 'sign-up-btn.html' %}
</div><!-- timetable-of-classes-card -->


<div block="timetable-of-classes-card">
	<div elem="top-content">
		<span elem="rate">6 месяца</span>
		<span elem="how-many-times">3 раза в неделю</span>
	</div>

	<div elem="middle-content">
		<p elem="text">
			Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.
		</p>
	</div>

	<div elem="bottom-content">
		<span elem="price">41 788 ₽</span>
		<span elem="old-price">41 788 ₽</span>
	</div>

	{% include 'sign-up-btn.html' %}
</div><!-- timetable-of-classes-card -->


<div block="timetable-of-classes-card">
	<div elem="top-content">
		<span elem="rate">1 год</span>
		<span elem="how-many-times">3 раза в неделю</span>
	</div>

	<div elem="middle-content">
		<p elem="text">
			Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.
		</p>
	</div>

	<div elem="bottom-content">
		<span elem="price">41 788 ₽</span>
		<span elem="old-price">41 788 ₽</span>
	</div>

	{% include 'sign-up-btn.html' %}
</div><!-- timetable-of-classes-card -->
